*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E1DCC5;
    font-family: 'Poppins', sans-serif;
    
}
.bg-light{
    background-color: #E1DCC5 !important ;
}
#top-section{
    width: 993px;
    margin: auto;
}
main{
    height: 100vh;
    width: 993px;
    margin: auto;
}
#search-field{
    height:44px;
    width: 250px;
    border: 1px solid lightgray;
    border-right: 0;
    border-radius: 10px 0px 0px 10px;
    caret-color: #ED5C09;
    padding-left: 15px;
}
#search-field:focus{
    border-color: #ED5C09;
    outline: #ED5C09;
}
#search-btn{
    border: 0;
    padding: 10px 15px;
    background-image: linear-gradient(#F69B0E,#ED5C09);
    border-radius: 0px 10px 10px 0px;
    position: relative;
    left: -5px;
    /* top:-1px; */
}
#author-info{
    /* display: flex; */
    padding-top: 60px;
    width: 69%;
    margin: auto;
    border-bottom: 7px dashed khaki;
}
#author-info img{
    border-radius: 50%;
}
.author-details{
    display: flex;
    align-items: ;
}
#bio{
    padding-left: 20px;
    text-align: justify;
}
#results{
    padding-left: 110px;
}
.book-item img{
    width: 100%;
}
.book-item{
    margin: 20px 5px;
    padding: 15px ;
    height: 300px;
    
    overflow: hidden;
    border: 0px solid black;
    box-shadow: 0px 0px 40px 5px lightgray;
    background-color: aliceblue;
}
footer{
    width: 993px;
    margin: auto;
    margin-top: 40px;
    height: 200px;
    background-color: #85653426;
}
.check{
    color: green;
    font-weight: 900;
    display: none;
}
@media only screen and (max-width:992px) {
    #top-section{
        width: 100%;
    }
    main{
        width: 100%;
    }
    #search-btn{
        top: 0px;
    }
    footer{
        width: 100%;
    }
}