* {
  margin: 10px;
  padding: 0;
}
body {
  background-color: #e1dcc5;
  font-family: "Poppins", sans-serif;
}
.bg-light {
  background-color: #e1dcc5 !important ;
}
#top-section {
  width: 993px;
  margin: auto;
}
main {
  height: 100vh;
  width: 993px;
  margin: auto;
}
#search-field {
  height: 44px;
  width: 250px;
  border: 1px solid lightgray;
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  caret-color: #ed5c09;
  padding-left: 15px;
}
#search-field:focus {
  border-color: #ed5c09;
  outline: #ed5c09;
}
#search-btn {
  border: 0;
  padding: 10px 15px;
  background-image: linear-gradient(#f69b0e, #ed5c09);
  border-radius: 0px 10px 10px 0px;
  position: relative;
  left: -5px;
  /* top:-1px; */
}
#author-info {
  /* display: flex; */
  padding-top: 60px;
  width: 69%;
  margin: auto;
  border-bottom: 7px dashed khaki;
}
#author-info img {
  border-radius: 50%;
}
.author-details {
  display: flex;
  align-items: ;
}
#bio {
  padding-left: 20px;
  text-align: justify;
}
#results {
  padding-left: 110px;
}
.book-item img {
  width: 100%;
}
.book-item {
  margin: 20px 5px;
  padding: 15px;
  height: 300px;

  overflow: hidden;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 5px lightgray;
  background-color: aliceblue;
}
footer {
  width: 993px;
  margin: auto;
  margin-top: 40px;
  height: 200px;
  background-color: #85653426;
}
.check {
  color: green;
  font-weight: 900;
  display: none;
}
@media only screen and (min-width: 1312px) {
  #search-btn {
    top: -1px;
  }
  #results {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr) !important;
    padding: 0;
  }
  .book-item {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 992px) {
  #top-section {
    width: 100%;
  }
  main {
    width: 100%;
  }
  #search-btn {
    top: 0px;
  }
  #results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
  .book-item {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
  }
  footer {
    width: 100%;
  }
}
@media only screen and (max-width: 688px) {
  #search-btn {
    top: -1px;
  }
  .author-details {
    flex-direction: column;
    align-items: center;
  }
  #results {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  .book-item {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    height: 400px;
  }
  .book-item img,
  p {
    display: block;
    width: 100%;
    margin: auto;
  }
}
